[2019-11-02 17:32] arl opened #2 "Make it installable with tmux plugin manager"
As I understand it, it would be really easy: add a `git.tmux` file at the repo root which sets up the status bar (as in the README.md)

[2019-11-02 17:36] arl opened #3 "Enhance README"
Current README doesn't show examples for styling output, nor using showing git status in another part of the status bar, or in a second status bar.

[2019-11-05 06:24] arl commented on #2
Impossible. TPM doesn't support binary plugins

[2019-11-05 06:24] #2 closed

[2019-11-07 07:33] arl opened #5 "Remove "-next" version suffix added by goreleaser"
Goreleaser, used to automatically publish releases on version tag, appends the `-next` suffix. And this is reported by `gitmux -V`.

Remove it

[2019-11-07 09:06] #5 closed

[2019-11-07 09:11] arl opened #6 "Releases has developement version"
Releases get compiled with development version:
[code]

[2019-11-07 09:12] arl commented on #6
This does **not** happen in local with

[code]

[2019-11-08 03:26] c02y commented on #3
I'm using this as my `pane-border-format`:
[code]

[2019-11-08 03:30] c02y opened #7 "Edit symbols in gitmux output"
I'm in an environment(ssh into remote server) that doesn't support all the symbols in gitmux
![gitmux](https://user-images.githubusercontent.com/2135996/68447461-02a59500-021b-11ea-82a7-59bd355aaf96.png)

BTW: I'm using this as my pane-border-format:
[code]
NOTE: the `()` would be a problem when in a directory which is not git repo. https://github.com/arl/gitmux/issues/8

Would this be fixed?

[2019-11-08 03:40] c02y opened #8 "Parentheses/brackets around gitmux output"
It would nice if gitmux would put parentheses or brackets like `()`/`[]`/`<>` around gitmux info, just to separate git info from other info like path, time.

Since it would need a lot more work in `~/.tmux.conf` to do that for git-repo and non-git-repo

[2019-11-12 07:07] arl commented on #7
You can override the default symbols by passing your own config to gitmux:

First save the current config
[code]

Replace the symbols and/or styles you wish to override and the use the following command in `.tmux.conf`
[code]

I know this project needs a better readme, it's in my todolist!

About the `()` behaviour, I suggest you to create a simple script that calls gitmux itself, inside the scrip

[2019-11-12 07:09] arl commented on #8
I answered in the other issue #7 but I'm gonna copy the answer here for the record.

[2019-11-13 02:31] c02y commented on #7
Using a custom config is a good solution.

About the `()`, I can live without it. I'll try to add  my own solution when I really need it.

Thanks for your reply. I'll just close the issues.

[2019-11-13 02:31] #7 closed

[2019-11-13 02:32] #8 closed

[2019-12-17 07:11] c02y opened #9 "fatal: Unable to create '/path/.git/index.lock': File exists."
After using gitmux in tmux, from time to time, a problem occurs to me:
[code]
I think this is because git is kept running in the background inside gitmux with tmux.

and I used an script before using gitmux:
https://github.com/c02y/dotfiles/blob/5cbcbda2d49d0f0458fc404b57c5ab0fbd9def7a/bin/.local/bin/pane-border-format.sh#L50

I use `--no-optional-locks` for `git` command in that script to avoid t

[2019-12-17 07:25] arl commented on #9
Thank you for that.
I wasn't aware of this option.
It happened also to me from time to time, though rarely enough to not be on my priority list, but paint enough to be reminded of!
That was the n1 issue that prevented me to publicize gitmux over tmux-gitbar.
Thanks again I'm gonna bake this right into the Go binary so that gitmux can be safely called !!!

[2019-12-17 09:12] #9 closed

[2019-12-20 10:02] arl commented on #6
This is fixed since v0.3.2

[2019-12-20 10:02] #6 closed

[2019-12-20 22:34] arl commented on #9
This is fixed in the latest release

[2019-12-22 09:45] c02y commented on #9
@arl Yes, I got it when you closed this issue with new commit, thanks.

[2020-01-05 22:08] arl opened #14 "Consider possibility to choose/reorder/remove the info shown"
As of now it's not possible to not show the remote  branch, to not show X, to not show Y, to reorder branch and remote, etc, etc. to sum it up, the order and the specific information presented are static.

Not exactly sure how we would make them configurable
Also, is it worth the hassle?

[2020-01-06 17:51] #3 closed

[2020-01-31 05:47] casonadams commented on #14
This PR should make this more flexible
https://github.com/arl/gitmux/pull/16

[2020-01-31 06:29] arl commented on #14
Hi Cason, nice, thanks for your contribution!

I like how you handled the display order of git components, simple and easy.

I was wondering, could you rename the config option from `Display.Output` to `Display.General` or something similar? Why? Since I imagine, in a second time, we could make the order and presence of the flags (added, deleted, etc.) also configurable, so we would have 2 fields

[2020-02-09 21:05] ryuheechul opened #17 "#(gitmux #{pane_current_path}) doesn't work"
## Expected Behavior
shows git status

## Actual Behavior
shows nothing

## Steps to Reproduce the Problem
1. add this line to tmux.conf `set -g status-right '#(gitmux #{pane_current_path})'`

I fixed the issue with `set -g status-right '#(gitmux "#{pane_current_path}")'` which is surround `#{pane_current_path}` with `""`

## Specifications
  - OS: macOS 10.15.3 + zsh
  - gitmux version: `<develop

[2020-02-10 08:40] arl commented on #17
Thanks for reporting that.
I'm going to try if adding `"` works also on Linux/bash (I guess it will) and correct the README accordingly.

But I'd like to understand the reason why quotes ares needed on your system. It would be great if you could help me pinpoint if the problems come from:
 - your OS (Mac)
 - the fact you use `zsh`
 - the fact that you use a recent version of `tmux`

@ryuheechul do

[2020-02-12 20:02] ryuheechul commented on #17
You are welcome, @arl. I will try to use other stacks with gitmux to see if I can narrow it down :)

[2020-02-12 21:04] ryuheechul commented on #17
when I:
(on macOS)
- ❌ switched to bash, still the same issue.
(on macOS + bash)
- ❌ downgraded tmux 2.9, still the same issue.
- ❌ downgraded tmux 2.4, still the same issue.
(on Ubuntu via multipass + bash)
- 🔵 using tmux 2.6 - the issue is resolved and it works with both `set -g status-right '#(gitmux #{pane_current_path})'` and `set -g status-right '#(gitmux "#{pane_current_path}")'`
- 🔵 using

[2020-02-12 21:34] arl commented on #17
Ok so it seems the problem is macOS specific then.
Thanks for that thorough testing.
I'm gonna update the README to include the double quotes.

[2020-02-12 21:44] #17 closed

[2020-02-13 18:44] ryuheechul commented on #17
Thanks!

[2020-03-04 04:11] mattias-lidman opened #19 "documentation: add warning+solution for tmux < 2.1 - #{pane_current_path} not supported"
## Expected Behavior

Git information shows up in status bar when in a git repo.

## Actual Behavior

It doesn't.

## Steps to Reproduce the Problem

  1. On Raspbian jessie, install `gitmux` and put `set -g status-right '#(gitmux "#{pane_current_path}")'` in `~/.tmux.conf`, and re-source.
  2. Go to a git repo.
  3. Run gitmux manually, which seems to produce sensible output: `#[fg=default]#[fg=d

[2020-03-04 06:22] arl commented on #19
Uhm it seems that tmux 1.9 does not support `#{pane_current_path}`  in `tmux.conf`.

The problem is not gitmux per se, but how to have it automatically called by tmux on user actions (switch paned ,change for, etc.). Without a recent tmux version, you'll have to implement a solution based on your shell, such as one based on `$PROMPT_COMMAND` for bash, in order to have gitmux be automatically calle

[2020-03-04 06:28] arl commented on #19
Just saw this, have a look at the unique answer: https://unix.stackexchange.com/questions/233929/tmux-2-0-pane-current-path-not-working-on-centos/234222#234222

If that works, or if you find another shell-independent solution I'll update the README accordingly

[2020-03-04 17:51] mattias-lidman commented on #19
I tried `set -g status-right '#(gitmux "$PWD")'`: It gets the output of wherever you launch tmux from, but then never updates. I can just build a >2.0 version -- maybe add a warning about <2.0 to the README? Or is there something else you'd like me to try so you can keep the "Works with all tmux versions" claim?

Thank you for your work -- I'm finding this a very useful addition to my setup.

[2020-03-04 18:04] arl commented on #19
Ok It seems that tmux < 2.0 generates it's status statically.
The only way I see to make it work, only on bash btw, is to to call `tmux set -g status-right "#(gitmux $PWD)"` from within a PROMPT_COMMAND, which is a bit more involved since you have to do it in `.bashrc` in order to have it work then on any tmux session.

`export PROMPT_COMMAND="tmux set -g status-right \"$(gitmux $PWD)\""`
I may ha

[2020-03-04 18:35] mattias-lidman commented on #19
This seems to work reasonably well: `export PROMPT_COMMAND='tmux set -g status-right "$(gitmux $PWD)" &> /dev/null'`

Redirecting both STDERR and STDOUT seems necessary, or tmux will spam output on every command. For me I think building a recent tmux is a better way to go but hopefully this will be useful to someone.

Cheers.

[2020-03-04 19:07] arl commented on #19
Great! Thanks for reporting

[2020-03-10 22:58] mihai-dinu opened #20 "Updates to the git status are slow"
## Expected Behavior
Add a new file or branch changes should be reflected sub second in the tmux status bar

## Actual Behavior
Take more than a couple of seconds (most of the times) to update the git status with changes in the tmux status bar

## Steps to Reproduce the Problem

  1. In a repo create a branch and check it out
  2. Look at the gitmux status on the status bar
  3. Notice that it tak

[2020-03-10 23:08] mihai-dinu commented on #20
Nvm, the problem was that I did not have `status-interval` set

[code]

[2020-03-10 23:08] #20 closed

[2020-04-13 06:04] #14 closed

[2020-04-21 06:38] oberprah opened #22 "Layout cannot be changed"
## Expected Behavior

I have the following `gitmux.config`, where I removed the branch-symbol and added a custom layout. With the custom layout I would remove the remote-branch.

[code]

## Actual Behavior

If I call the following command `$ gitmux -cfg gitmux.conf` I get this output:

`#[fg=default]#[fg=default]#[fg=white,bold]#[fg=default]master#[fg=default]..#[fg=cyan]origin/master#[fg=default]

[2020-04-21 06:44] arl commented on #22
Can you try with `layout` instead of `layouts` (no final _s_) ?

You could also print the default configuration and start from there:

    gitmux -printcfg > tmux.cfg

[2020-04-21 06:52] oberprah commented on #22
`layout` instead of `layouts` does not change anything. I already started with `gitmux -printcfg > gitmux.conf` and removed then the branch-symbol and added the custom layout in the config-file.

[2020-04-21 07:11] arl commented on #22
Oups my bad. I forgot to create a release after that feature was introduced (the `layout` configuration is that feature).
I just pushed v0.5.0 release that you can download from here:
https://github.com/arl/gitmux/releases/tag/v0.5.0

it should work then, let me know

[2020-04-21 07:22] oberprah commented on #22
A perfect, now it works. Thank you very much!

[2020-04-21 07:22] #22 closed

[2020-04-21 07:24] arl commented on #22
Great!
Thank you to make me notice that the readme was not in line with the latest release ;-)

[2020-04-21 07:25] oberprah commented on #22
No problem. And by the way, it's a very cool tool, I searched a while for something like this and really like it.

[2020-04-21 08:16] oberprah opened #23 "Feature: breakdown remote into 2 separate layout components"
I would like to remove the remote-branch-name from the layout, because it's almost ever the same as the local one (`<branch-name>` and `origin/<branch-name>`).

If I remove `remote` from the layout not only the remote-branch-name isn't displayed anymore, also the information how many commits I am behind or above the origin branch is gone.

Is it possible to add another parameter to the config, e.g

[2020-04-21 08:24] arl commented on #23
I reckon you're not the first one to propose this.
I agree this would be nice though I'd like to find a way to do it so that adding it won't break currently existing and valid configurations.
Probably adding some aliases: for example `remote` would be internally split to `remote-branch` + `remote-flags` so that one user with `remote` won't notice the difference whereas an user like you that want m

[2020-05-05 09:37] casr commented on #19
The OpenBSD version of tmux hasn't had `pane_current_path` for a few versions now so I worked around it by abusing the [dynamic titles](http://tldp.org/HOWTO/Xterm-Title-3.html) feature.

With your shell prompt you set the title to the current path:
[code]

Then use this in `.tmux.conf` (in my case it was so that a pane split takes the current pane's path):
[code]

This comes with the caveat that

[2020-06-05 12:32] atleta opened #24 "Space missing from behind the 'staged' symbol in default config"
Hi,

Minor issue, but a space is missing from behind the ●/staged symbol in the default config in tmux/formatter.go (https://github.com/arl/gitmux/blob/master/format/tmux/formater.go#L55) and it makes that part of the display illegible (at least with the default fixed font on ubuntu). Indeed, I haven't realized what that blob could be until I got myself to look into gitmux config to fix the colors

[2020-06-07 10:57] arl commented on #24
@atleta thanks for reporting, that is now fixed on master.

[2020-06-07 10:58] #24 closed

[2020-06-07 18:02] arl opened #26 "README: document/define what are the list of 'styles'"
In `gitmux` configuration files a list of `styles` are assigned tmux format strings.
Improve the README by document what each style stand for

[2020-06-07 18:07] #23 closed

[2020-06-07 18:11] arl commented on #23
@oberprah FYI this is fixed in [latest](https://github.com/arl/gitmux/releases/latest) release

[2020-06-07 18:11] arl commented on #24
@atleta FYI this is fixed in [latest](https://github.com/arl/gitmux/releases/latest) release

[2020-06-12 21:48] felippemr opened #28 "Git info not working with oh-my-tmux setup"
## Expected Behavior
Git info appearing on the right-hand side of the tmux bar

## Actual Behavior
Nothing is showing up

## Steps to Reproduce the Problem

  1. Install https://github.com/gpakosz/.tmux
  2. install gitmux
  3. Configure ~/.tmux.conf.local to `tmux_conf_theme_status_right='#{prefix}#{pairing}#{synchronized} #(gitmux "#{pane_current_path}"), #{?battery_status, #{battery_status},}#{

[2020-06-12 21:48] felippemr commented on #28
Already tried without `,` after the gitmux conf.

[2020-06-13 16:50] arl commented on #28
Thanks for reporting.
Just to be sure there's nothing else did you check that `gitmux` shows when it's put alone in `status-right`

[2020-06-15 17:13] felippemr commented on #28
I did not. Let me try.

[2020-06-15 17:15] felippemr commented on #28
It still does not work.

[2020-06-15 17:22] arl commented on #28
To try, did you comment everything in your `tmux.conf` that is about `status-right`, then placed (as per gitmux readme):

    set -g status-right '#(gitmux "#{pane_current_path}")'

After that you need to reload `tmux.conf`
(either with a shortcut set in `tmux.conf` itself, or by exiting all your tmux session and restating a new one).

Another 'trick' to see if the problem comes from tmux configur

[2020-06-15 17:24] arl commented on #28
But I strongly suspect a conflict in your tmux configuration file. I do not use oh-my-tmux so I don't know whether it's author explained how to extend the provided status string but anyway since it's just a set of tmux commands there's no reason it shouldn't work

[2020-06-15 20:07] felippemr commented on #28
Thanks for your response!

Did not work

[2020-06-15 20:07] felippemr commented on #28
Thanks for your response!

👆  did not work

[2020-06-15 20:23] felippemr commented on #28
I change `gitmux` to `echo` and the result of current folder appeared. `gitmux` in is my path because I can run it from a bash session but for  some reason tmux can't find it.

[2020-06-15 20:24] felippemr commented on #28
`#(/Users/fera/go/bin/gitmux "#{pane_current_path}")` worked!

[2020-06-15 20:27] felippemr commented on #28
So it has nothing to do with `oh-my-tmux`.

[2020-06-15 21:15] arl commented on #28
So I guess this works now?

[2020-06-15 21:42] felippemr commented on #28
Closing since the issue is not related to gitmux.

[2020-06-15 21:42] #28 closed

[2020-06-19 19:32] michael-wojcik commented on #28
@felippemr Just wanted to say thanks since this worked for me as well using `oh-my-tmux`

[2020-06-19 19:35] arl commented on #28
That'd mean either gitmux is not in the `PATH`,or not in the `PATH` that tmux sees.
Anyway glad to hear this issues is helping others

[2020-06-29 22:17] arl opened #29 "Doc: add screenshots to README"
The screencast is nice as a quick intro to gitmux but it doesn't give a full picture when it comes to customizing gitmux output.

Add screenshots for each example layouts and probably add some more screeshots for the styles section.

[2020-07-22 18:33] cdelledonne opened #30 "feature-request: truncate long branch names"
Hi, I was wondering if you would consider adding a configuration option to allow the user to truncate (and up to how much) long branch names. I encountered some very long branch names, which don't fit in my status bar when on a small screen (e.g. a laptop).

Cheers!

[2020-07-22 18:47] arl commented on #30
Hey!
This has definitely been on my list of features to add to `gitmux`!

I think limiting the whole gitmux string can already be performed with some tmux format strings magic, but that's not what you meant I guess since this would not trim the branch part, but whatever section lies at the extremity, so yes, not useful.

That's why we should do it in gitmux.
What do you think of a simple config en

[2020-07-22 18:50] arl commented on #30
Labelling this as good first issue in case you, @cdelledonne , or anybody, want to give it a try.
It's a pretty simple feature to add.
If in some days nobody has came up with anything, I'm gonna do it

[2020-07-23 08:13] cdelledonne commented on #30
Something like `branch_max_length` could work. Where would you add it? As a new key, or under one of `styles` or `layout`?

Alternatively, I had also thought of appending the max length to the layout component, e.g.
[code]
would specify "40" as the max length.

Should `remote-branch` and `remote` also allow a max length?

[2020-07-23 09:01] arl commented on #30
My idea was that to place the new `branch_max_len` key under the `styles` section.
No value set in talk would result in 0 on the Go side, which means setting it to 0 is the same as not setting it and would correspond to current behaviour, i.e no limit on the branch nale.

Placing the max length as `:40` would make parsing slightly more complicate and I'd prefer to keep it dead simple.

I think the

[2020-07-23 09:27] cdelledonne commented on #30
ACK.

In my opinion, this feels a little unintuitive from a user's perspective, since all of the `styles` entries are tmux style format strings, as also mentioned in the README. However, adding a new key under `tmux` looks odd too :).

Sounds good.

[2020-07-23 09:39] arl commented on #30
Yeah you'r e right, maybe it's better to keep that way (only tmux format strings under `styles`).
Same for adding it under `tmux`, and under `symbols` has no sense.
Also `layout` is a yaml list representing the overall layout of the gitmux status string, so..not there
:smile: I guess that doesn't let us a lot of options, maybe we could add a new section, with a general enough name that we'll be ab

[2020-07-23 09:50] cdelledonne commented on #30
`settings` or `options` sounds good, good point about reusability for other config options.

I've never written Go, but I'd be happy to give it a try and prepare a PR this week. Would that be ok?

[2020-07-23 10:08] arl commented on #30
Great, let's go for `options` then!

Sure, be my guest! That's awesome!
Happy to review when you're ready and/or answer questions.

So to sum it up:
 - a new `options` section
 - `branch_max_len` entry under that section
 - default value of 0 means no limit
 - when set, limit applies to the branch part in both the local and the remote branch names
 - About testing: there's a test named `TestOutput

[2020-07-23 10:18] cdelledonne commented on #30
Thanks a lot! :)

[2020-07-28 05:48] #30 closed

[2020-07-28 06:00] arl commented on #30
Going to create a `v0.7.0`.  That was a very neat PR you submitted for somebody that never did Go before.
Looking forward to many more ;-)

[2020-07-28 08:44] cdelledonne commented on #30
Glad to contribute, and until next time :).

[2020-08-04 01:09] mbazdell opened #32 "Local Branch text does not take formatting"
## Expected Behavior
Setting Branch style should affect branch text

## Actual Behavior
Only affects symbol

![image](https://user-images.githubusercontent.com/5973940/89241601-65bb3100-d5cd-11ea-8903-c6a61d220d3b.png)

## Steps to Reproduce the Problem
[code]
## Specifications
  - OS: Fedora 30
  - gitmux version: 0.7.0
  - tmux version: 2.9a

[2020-08-04 11:23] arl commented on #32
Thanks @mbazdell for the report.
I'm going to look into that soon.

Just a quick question (I'm not asking to look into it, it's just in case you know the answer):
Did you always notice this behavior or has it been happening since a specific version of `gitmux`?
Thank you

[2020-08-04 11:52] mbazdell commented on #32
Just tested back to 0.4.0 and it seems to include a `#[default]` right before the branch name.

`#[fg=default]#[fg=white] #[fg=default]master..#[fg=default]#[fg=cyan]origin/master#[fg=default] - #[fg=default]#[fg=green,bold]✓`

I noticed in my `.tmux.conf` that I hadn't specified `set -g status-fg` to anything. Setting that changed the colors on the text marked for `#[default]` and resolved my is

[2020-08-05 13:28] arl opened #33 "Add package level go doc strings"
At the moment there's no package level doc strings.
https://pkg.go.dev/github.com/arl/gitmux?tab=doc is... such empty

[2020-08-05 13:30] arl commented on #32
I see. You're right the format string should be consistent and do not depend on whether the user had set a status foreground `status-fg`.
Thanks again for reporting.
I'll look into that

[2020-08-21 07:17] c02y opened #35 "timeout if gitmux takes too long to print the result"
## Expected Behavior
When in some situation, gitmux takes too long to print the result, it should just quit and print nothing like it never existed.

This kind is situation is: I got a repo pulled inside Windows partition, and I'm using Linux as the guest on Virtual Machine, and I share the repo folder to the Linux, trust me, I don't want this, anyway, when I'm in this situation, normal `git statu

[2020-08-21 07:51] arl commented on #35
Hey there.
Thank you for a very detailed report, and for the workaround.

I agree that you have a very particular environment, but anyway since gitmux some purpose is to run inside tmux, it should have the same requirements regarding user interaction, such as not taking too long to perform its job.
I'm enclosed to add an option for that, but to let the timeout disabled by default

[2020-09-01 21:20] arl commented on #35
@c02y hey I just merged #37 in master. `gitmux` now has a `-timeout` option as requested.
`-timeout` takes an argument which is the duration after which gitmux, if it's still running, will exit.

Argument should be of the form:
 - `2s` for 2 seconds
 - `50ms` for 50 milliseconds
 - even `1s500ms` works for example

Please find the latest binary release at https://github.com/arl/gitmux/releases/lat

[2020-09-02 00:37] #32 closed

[2020-09-02 00:48] arl commented on #32
@mbazdell this is fixed in latest master.
You can find this fix (and others) in the [latest release](https://github.com/arl/gitmux/releases/latest).

[2020-09-02 00:59] arl opened #41 "Doc: documentation command line interface"
There are few cli flags but anyway it would be nice to describe them in the readme

[2020-09-02 03:21] c02y commented on #35
**[BUG REPORT]**:

When I'm using `gitmux -timeout 2 ...` in my `~/.tmux.conf`, and cd into a git repo, there is a process called "git status --porcelain --branch -z" in the background, every time after I'm on a new shell prompt such as just hit `Enter` key, there will be the same new process `git status --porcelain --branch -z` in the background again, and I notice that the PPID of all the old on

[2020-09-02 10:49] arl commented on #35
Oh ok I know what that is. I will fix that very soon.
I forgot to place a timeout on the subprocess.

Not related but you should use `-timeout 2s` and not just `2`, you need to provide the unit.

[2020-09-02 10:52] c02y commented on #35
Sorry, it is a typo, it is `2s` I'm using.

[2020-09-02 13:30] arl commented on #35
Ok that should be fixed now.
As I told you I didn't think at first about the subprocesses that gitmux starts.
Now the -timeout applies to the subprocesses, rather than `gitmux`.

FYI: `gitmux` needs to run various git subprocesses in order to gather the information to place in the status string.
Now, the first subprocess that takes longer than the timeout will be killed, furthermore once one subpr

[2020-09-03 10:31] c02y commented on #35
Thanks, it is fixed.

[2020-09-03 10:31] #35 closed

[2020-09-06 13:54] c02y opened #43 "[BUG] branch name doesn't get fully displayed"
**Describe the bug**
A clear and concise description of what the bug is.
The branch name is not fully displayed.

I personally put the gitmux inside `pane-border-format`, but I tried to put the config inside `status-right`, it is the same result,

BTW: The setting is "branch_max_len: 0" in `gitmux --printcfg`, and the branch name is fully displayed when just executing `gitmux`

**To Reproduce**

S

[2020-09-08 15:37] c02y commented on #43
I'm sorry, it seems this is the bug of Konsole/Yakuake, and I don't know how to debug it. I'll close this for now.

[2020-09-08 15:37] #43 closed

[2020-09-08 18:15] arl commented on #43
@c02y no worries. Feel free to reopen if you think this has to do with `gitmux`

[2020-09-25 18:37] llagerlof opened #47 "Doesn't render UTF-8 characters in WSL running Ubuntu"
**Describe the bug**

Doesn't render UTF-8 characters in WSL running Ubuntu.

**To Reproduce**

- Install Ubuntu for WSL.
- Start WSL with "bash" command.
- Install tmux and gitmux.
- Configure tmux to load gitmux
- Run tmux
- Enter some directory under git control.
- Look at the gitmux info bar on bottom-right. The first and last characters are question marks.

**Expected behavior**

The question

[2020-09-25 19:41] arl commented on #47
Thank you for reporting @llagerlof

`gitmux` and `tmux`, as well as other terminal applications, can only show characters which are defined with the font your terminal is using.

To solve this, you can either:
 - install another font that contains the specific chars using by gitmux.
or
 - replace the problematic characters. To do this, you need to save the default configuration with `gitmux -print

[2020-09-25 20:23] llagerlof commented on #47
I configure the bash window to use the same font of the new Windows Terminal (Cascadia Mono). Unfortunaly didn't worked. Same problem (weird).

I configured the "Consolas font for powerline". Same result.

After some testing I realized it is a problem of the terminal itself. It isn't accepting UTF-8 characters.

I will use the new Windows Terminal. Thanks.

[2020-09-25 20:34] arl commented on #47
Ok thanks for the heads up.
Out of curiosity what terminal are you using which doesn't support utf8?

[2020-09-27 03:29] llagerlof commented on #47
The Windows 10 default/classic terminal. I just executed "c:\Windows\system32\bash.exe". I even looked at the default codepage of the terminal. It was set to "65001 UTF-8", whatever 65001 means.

[2020-10-10 19:07] #47 closed

[2021-01-01 12:05] MorpheusH3x opened #48 "[BUG] After install the bar did not appear"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
After downloading gitmux via go, I simply follow [the guide](https://github.com/arl/gitmux/#getting-started).

**Expected behavior**
I should see some thing like [that](https://raw.githubusercontent.com/arl/gitmux/readme-images/demo-small.gif).

**Environment:**
 - gitmux version: `zsh: command not found: gi

[2021-01-06 21:06] arl commented on #48
I note 2 things from your report.

1) I see `zsh: command not found: gitmux`. If `zsh` can't access to `gitmux`, `tmux` won't be able either. Can you confirm that `gitmux` binary executable is accessible from your `$PATH`? Otherwise you can  use in 2) the full path to gitmux in case you don't wan't/can't place `gitmux` in your `$PATH`.

2) I can't see in your `.tmux.conf` the line that should be p

[2021-01-16 16:28] MorpheusH3x commented on #48
It resolve my problem.
Thank you.

[2021-01-16 16:28] #48 closed

[2021-02-13 14:51] betoharres commented on #20
I had this issue, almost uninstalled it because of this. I experienced this on arch linux fresh install and also on OSX with tmux next 3.3
IMO this should be in the README asap

[2021-03-11 23:36] ayoubelmhamdi opened #49 "gitmux not roturn anting"
if i'm run  `$ gitmux`:
[code]
if i'm run `$ gitmux "#{pane_current_path}"` ,  i dont got any output
why i shoud be run

[2021-03-12 06:33] arl commented on #49
Hi Ayoub and thank you for your report.

Can you please tell me more about the environment in which you run gitmux so I can help you?

Please have a look at *Environment* in [this page](https://github.com/arl/gitmux/blob/master/.github/ISSUE_TEMPLATE/bug_report.md)
Thanks

[2021-03-12 06:34] arl commented on #49
Does `gitmux -dbg` produces anything?

[2021-03-12 16:27] ayoubelmhamdi commented on #49
thank you for help
i'm got

[code]

[2021-03-12 16:38] ayoubelmhamdi commented on #49
i'm  @testing in shell (bash/zsh) and on termux-android and by ssh on  azure intel x64

[2021-03-30 04:39] pbnj commented on #49
I can reproduce this behavior when I launch tmux from my `$HOME` (not a git repo) and then `cd /path/to/some/repo` - nothing shows in the prompt.

But, if I `cd /path/to/some/repo` and then start tmux, git info appears in statusbar.

Here are my relevant `.tmux.conf` settings:

[code]

[2021-05-12 22:52] c02y opened #51 "[FEATURE] Is it able to keep running for one panel"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I use gitmux in `pane-border-format`, and if I keep greping gitmux in ps list, the PID is keeping increasing since it runs and exits, it is able to keep the process in a while loop with a delay of course, display the result but not exit th

[2021-08-07 09:11] arl commented on #51
Making Gitmux a daemon seems like a very big change. Is keeping the same PID all along the only benefit wend get out of Gitmux being a daemon, or did you want to achieve something different, prevented by the PID increasing?

[2021-08-07 09:18] arl commented on #49
@ayoubelmhamdi can you try withe command specified in https://github.com/arl/gitmux#getting-started please?

[2021-08-07 09:49] #19 closed

[2021-08-07 16:19] c02y commented on #51
I just don't want a process to keep running-and-exiting in the background, and don't want its process ID to increase forever.

[2021-08-07 20:06] pbnj commented on #49
This works for me:

[code]

[2021-09-21 15:17] preslavmihaylov opened #52 "[FEATURE] Add support for installing via brew"
It would be great if gitmux can be installed via `brew install arl/gitmux` or similar.

[2021-09-21 16:48] preslavmihaylov opened #53 "[FEATURE] Add style for divergence & default symbols"
I currently can't style the divergence part of gitmux or random symbols specified in the layout:
![image](https://user-images.githubusercontent.com/7642330/134213181-bf3840a5-6064-415a-bf3a-83dd09866f7e.png)

It would be nice for this to be customisable

[2021-09-21 17:19] arl commented on #53
Thanks. I agree that would be nice to have. 👍🏽

[2021-09-21 17:19] arl commented on #52
Thanks. I agree that would be nice to have. 👍🏽

[2021-09-24 10:21] arl opened #55 "Switch to github actions"

[2021-09-25 14:07] #55 closed

[2021-09-25 14:15] #53 closed

[2021-09-25 14:49] arl commented on #51
@c02y
`gitmux` is called by `tmux` :
 - when there's a possibility the status bar might be updated  (after you switch panel for example)
 - if nothing happens, at the frequency configured in your tmux.conf with `status-interval`

At the moment, gitmux is updated as soon as possible in the status bar and this is precisely because tmux is calling us.
tmux can only runs process, and not communicate w

[2021-09-25 21:31] #51 closed

[2021-11-02 12:49] eladeyal-intel opened #58 "[FEATURE] trim-from-left branch name"
if branch_max_len > 0

and the branch name is too long

it should truncate by removing the start and leaving the end of the branh name

because may of my branches start with  authorname/  so it's not useful to see just the start.

[2021-11-02 13:33] arl commented on #58
We could do that in a backward compatible way by:
 - adding an additonal parameter
 - or by interpreting negative `max_branch_len` as _trim from the end_ and positive ones as _trim from the start_

[2022-01-23 16:36] #58 closed

[2022-01-23 16:43] arl commented on #58
@eladeyal-intel the feature is present from version v0.7.6
latest -> https://github.com/arl/gitmux/releases/latest

[2022-01-23 16:44] arl commented on #52
I'm not using mac but would be happy to review a PR adding a brew recipe :)
thanks

[2022-01-23 16:49] eladeyal-intel commented on #58
thanks!!! @arl

[2022-01-23 20:45] elad-eyal opened #60 "[FEATURE] ellipisis"
Use `…` instead of `...` when trimming a branch name (or anything else for that matter)

`…` is only one character wide so using it instead of `...` gives 2 more characters of screen estate.

![image](https://user-images.githubusercontent.com/20379005/150697302-c9fdd9aa-6915-43c4-9b17-310e0df83264.png)

Many fonts that I've tried seems to support this special character, but I guess it should be co

[2022-01-23 21:33] arl commented on #60
Thanks for contributing. I thought about using it while implementing #59 then I wondered if it may not be a slightly wider character plus it's probably not available in all fonts.
Thanks for opening the issue, having this as an option would indeed be nice.

[2022-02-21 12:06] iusmac opened #61 "[BUG] Staged changes to be committed added using "git add -p" are not shown"
**Describe the bug**
Gitmux ignores staged files that are not staged at the same time. I have been experienced this behavior for quite a while in all of my projects, and I have always doubted if this is a bug or normal behavior since no one has reported it...

**To Reproduce**
1. Make a multiline changes to a file
2. Add a hunk using `git add -p <file>`
3. Check using `git status` that the `<file>

[2022-02-21 19:28] arl commented on #61
Hey @iusmac thanks for the detailed bug report.
You're right that's indeed a bug in https://github.com/arl/gitstatus.
Let me fix it upstream and update gitmux afterwards, I'll let you know here when it's done!

[2022-02-21 21:22] #61 closed

[2022-02-21 21:25] arl commented on #61
@iusmac
This is fixed in gitmux v0.7.7. You can update your binary from https://github.com/arl/gitmux/releases/tag/v0.7.7

[2022-02-22 08:13] iusmac commented on #61
@arl excellent! Thanks for your time and for that quick bugfix :smile:. Cheers!

[2022-03-01 16:49] iusmac commented on #61
@arl, hello again! Similar problem. Now the conflict is counted as staged. Instead I expect 11 staged, 1 conflicting and 1 untracked.
<details>
  <summary>Demo</summary>

![Screenshot from 2022-03-01 17-46-56](https://user-images.githubusercontent.com/28353279/156211847-e9af0014-94bf-450a-b1b5-8f893a156c48.png)
</details>

Raw output of command:
[code]
[git.txt](https://github.com/arl/gitmux/files

[2022-03-01 18:51] arl opened #63 "Conflict+Staged counting"
@arl, hello again! Similar problem. Now the conflict is counted as staged. Instead I expect 11 staged, 1 conflicting and 1 untracked.
<details>
  <summary>Demo</summary>

![Screenshot from 2022-03-01 17-46-56](https://user-images.githubusercontent.com/28353279/156211847-e9af0014-94bf-450a-b1b5-8f893a156c48.png)
</details>

Raw output of command:
[code]
[git.txt](https://github.com/arl/gitmux/files

[2022-03-01 18:52] arl commented on #63
@iusmac thank you
Did this already happen before or this is a regression due to #62 ?

(I went ahead and created a new issue for it anyway)

[2022-03-11 11:39] #63 closed

[2022-03-11 11:49] arl commented on #63
@iusmac this, and other similar cases, should be fixed in latest release -> https://github.com/arl/gitmux/releases/latest
Thanks again for reporting and helping me to improve gitmux

[2022-03-18 11:28] iusmac opened #66 "[BUG] Stashed files not handled in some cases"
Hello again! It appears that stashed files are no longer handled in _v0.7.8_.

**How to reproduce**
[code]
Even though there's a stashed file, gitmux claims the tree is "clean". But if we create an untracked file (`touch another_file`), gitmux will show 1 untracked and 1 stashed.

I've checked the previous version (_v0.7.7_) and stashed files are handled as expected.

[2022-03-18 12:11] arl commented on #66
Hi.
In latest version, I've slightly changed the definition of a _clean_ repository. It has always bothered me that the clean flag depended on the number of stashed entries. Stash entries could have been added from other branches, and should not cause in my opinion the repository to be considered_dirty_.

However, stash entries should still be counted and displayed in the status, is it still the c

[2022-03-18 17:40] iusmac commented on #66
@arl I've been using gitmux for more than a year, and I've really got used to the stashed indicator, for me it's like "list of pending jobs", it helps a lot when switching between projects during the day. I agree that the clean tree does not depend on what's in stash, so I think we should always display stashed files independently, exactly like we do with the remote and the current branch which, i

[2022-03-18 19:05] arl commented on #66
Thank you again for noticing and reporting!

[2022-03-18 19:06] #66 closed

[2022-03-18 19:08] arl commented on #66
Fixed in v0.7.9 release (which is currently building)

[2022-08-21 21:49] sinewalker opened #69 "Add optional replace 'origin' with nerdfont symbol for origin's URL"
**Is your feature request related to a problem? Please describe.**

It would be nice if the remote name was shortened to a symbol representing the host provider, rather than `origin`.

**Describe the solution you'd like**

For remote name (`remote`, or `remote-branch`), when the remote url contains a known public domain for a Git hosting service, replace the remote name string (i.e. "`origin`") wi

[2022-08-21 22:25] sinewalker commented on #69
Looks like the git status info comes from https://github.com/arl/gitstatus/blob/main/status.go#L37 and this does not have the actual URL.

So either that needs extending just to support this (seems a lot of effort for a trivial thing), or else the feature suggestion just looks for the remote name "`origin`" and replaces it with an optional string.

[2022-08-24 13:09] arl commented on #69
Hi @sinewalker. Thank you for the detailed feature request.

I have to say that I'm merely using a single Git hosting service so I might not be the best person to value that feature.
Though it looks like it could be nice to have, the feature looks very specific and in my humble opinion, does not seem it would add much value to gitmux output.

There's also something I don't understand: let's say we

[2022-08-27 00:37] sinewalker commented on #69
Thanks very much for this considered reply @arl !  I that a wrapper of some kind which ultimately replaces `origin` with an appropriate symbol is exactly what I need.

[2022-08-27 00:37] #69 closed

[2022-08-27 04:09] arl commented on #69
You're welcome. Thank you for your interest in gitmux
❤️

[2022-08-30 21:35] sinewalker commented on #69
Here's [a gist with the wrapper I came up with](https://gist.github.com/sinewalker/a8ca548bb8a341b1c947202cc08cb1fe).

[2022-09-01 06:48] arl commented on #69
Nice. Thank you for sharing. In case I see there some more interest in that feature and I reconsider I'll be certain to let you know.
Cheers

[2022-09-14 18:43] Antiz96 opened #71 "[FEATURE] Add the LICENSE file to the binary tar.gz archives in releases"
Hi,
First of all, thanks for your awesome with `gitmux` !

**Is your feature request related to a problem? Please describe.**
Not necessarily a problem but it would better suit the [best practice in terms of licensing](https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/licensing-a-repository#determining-the-location-of-your-license)

[2022-09-14 19:14] arl commented on #71
Hi @Antiz96 and thanks for the kind words.
Your request seems totally legit.
Will do.

[2022-09-15 08:40] arl commented on #71
@Antiz96 Great work with the AUR package, thanks for doing that.
I think I should mention that in the README.

[2022-09-15 09:36] #71 closed

[2022-09-15 10:42] Antiz96 commented on #71
Hi @arl,

Thank you, I appreciate it! Indeed, that could be cool to mention it in the README. I'll make you a PR for this if that's okay for you ;)

That's perfect ! I updated the [gitmux-bin AUR package](https://aur.archlinux.org/packages/gitmux-bin) to [v0.7.10](https://aur.archlinux.org/cgit/aur.git/commit/?h=gitmux-bin&id=237716541792d357472193c2aaf2ade5309fb56f) accordingly so it now delivers

[2022-09-15 11:10] arl commented on #71
Of course, that'd be great.

We could add a third section in the installation instructions. I think it could be put after the `Binary Release` and `From Source` sub-sections.
Much appreciated!

[2022-10-02 01:44] markfaine opened #74 "Download Latest Release"
Can you add a latest tag or symlink it in some way?  The use case is downloading the newest version from CLI without  knowing the version number of the latest version.  There may already be a way to do this but I can't figure it out if there is.
Thank you

[2022-10-04 05:51] arl commented on #74
Hi @markfaine.
There's no one liner to do that unfortunately, since the version if part of the file name to download.
You'd probably have to use GitHub API or maybe just simply list git tags on the repo and forge the filename you want to download based on the latest tag.

What's your use case? I'm curious

[2022-11-16 15:22] qejecooo commented on #17
Have the same problem, can soneone help? tried all of the above, plus tried editing PATH, that helped a person from another ticket.

[2022-11-28 23:43] qejecooo opened #76 "Gitmux loads only once"
Greetings! Using the gitmux and after I make tmux kill-server and make a new session it stops working. Any ideas?
Shell: Bash
Ubuntu 20.04
.tmux.conf:

[code]